language: node_js
cache:
  directories:
    - $HOME/.npm
node_js:
  - 9
  - 8
  - 6
  - 4
  - 10

after_success:
  - npm run test:coverage && npm run test:coverage:upload

# Trigger a push build on master and greenkeeper branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - /^greenkeeper.*$/

jobs:
  include:
    - stage: release
      node_js: lts/*
      script:
        - npm run semantic-release
